body {
  font-family: sans-serif;
  background-color: #030348;
}
  .nav {
    display: flex;
    align-items: center;
    height: 15vh;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    color: #692346;
    background-color: #86747e;
    font-family: -webkit-pictograph;
    font-size: 25px;
    border-bottom-style: dashed;
  }

  .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: blue;
    font-family: -webkit-pictograph;
  }

  .text-color{
    color: purple;
    font-family: -webkit-pictograph;
    font-size: 30px;
    text-decoration: none;
  }

  .Search-box{
    width: calc(50% - 100px);
    margin: 50px;
    display: -webkit-inline-box;
  }

  .image{
    border: 5px solid purple;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    width: 200px;
    height: 200px;
    vertical-align: middle;
  }

  .sortclass{
    border-radius: 4px;
    width: 150px;
    height: 40px;
    float: right;
    font-size: 18px;
    font-family: -webkit-pictograph;
    justify-content: right;
  }